@font-face{font-family:"Signika";src:url('../font/Signika-Light.ttf')}h1{font-family:"Signika",Helvetica,Arial,sans-serif;font-weight:100;margin:0;text-transform:uppercase;padding:.5em 0 0 1em;font-size:24pt}
.Font-page{font-family:"Signika",Helvetica,Arial,sans-serif;padding:1em;font-size:10pt;color:#3c3c3c;line-height:1.5em}
.navbar .brand{margin-left:0}
.light-white{background:rgba(255,255,255,0.7);width:35em;height:30em;position:absolute;bottom:0;right:5%}
.btn_custom{opacity:.8;border:none;color:#fff;height:3em;width:60%;margin:.5em}
.navbar .nav li a.active{color:#bdce12}
.center{text-align:center}
.btn_custom_black{opacity:.8;border:none;color:#fff;height:3em;width:60%;margin:.5em;background:#3c3c3c}.btn_custom_black:hover{background:#110909}
.btn_custom_green{opacity:.8;border:none;color:#fff;height:3em;width:60%;margin:.5em;background:#bdce12}.btn_custom_green:hover{background:#747e0e}
p{font-family:"Signika",Helvetica,Arial,sans-serif;padding:1em;font-size:10pt;color:#3c3c3c;line-height:1.5em}
.navbar .nav li a:hover,.navbar .nav li a:active{color:#bdce12}
.row{position:relative}
.row img{width:100%;height:auto}
.navbar .nav li a{text-transform:uppercase;cursor:pointer}
.navbar img{marign:10px}
.top-bar{background:#bdce12;height:2px;width:84px;position:absolute;left:162px}
.opac-row{background:rgba(255,255,255,0.7);width:35em;height:30em;position:absolute;bottom:0;right:5%}
.wrapper{text-align:center;position:absolute;bottom:0;width:100%}
h3{font-weight:100;font-family:"Signika",Helvetica,Arial,sans-serif;color:#284007;padding:.5em 0 0 1em;text-transform:uppercase;text-align:center}
h4{font-weight:100;font-family:"Signika",Helvetica,Arial,sans-serif;color:#284007;padding:.5em 0 0 2em;text-transform:none}
.opac-row h3{color:#bdce12;text-align:center;font-weight:100;text-transform:none;padding:.5em;font-size:30pt;text-align:center}
.opac-row hr{width:90%;margin:0 auto 0 auto;border:solid 1px #b3c1ab}
h1.Green{font-size:24pt;color:#fff}
.Green{background:#97bb35}
h1.White{font-size:24pt;color:#97bb35}
.White{background:#fff}
h1.Black{font-size:24pt;color:#fff}
.Black{background:#3c3c3c}
.news-date{width:100%;height:2em;color:#e3efc0;padding:1em}
.list{padding:.5em 0 0 1em}
.list li{display:list-item;list-style-image:url('../img/puce.png');color:#3c3c3c;font-family:"Signika",Helvetica,Arial,sans-serif}
.license{text-align:center;color:#fff}
.license p{padding:0;color:#f4f4f4}
.footer{text-align:center}
.footer img{padding:1em}
select{-webkit-appearance:none;-moz-appearance:none;text-indent:.01px;text-overflow:'';border:none;width:4em;color:#bdce12;background:url('../img/arrow.png') no-repeat 30px 18px;background-repeat:no-repeat;padding-top:5px}
@-moz-document url-prefix(){select{padding-top:11px}}@media only screen and (max-width:800px){.opac-row{right:0;position:relative;width:100%} h1.Green{text-align:center;padding-left:0} h1.White{text-align:center;padding-left:0} h1.Black{text-align:center;padding-left:0} h3{text-align:center;padding-left:0}}@media only screen and (max-width:1080px){.navbar .brand{display:none} .row img{margin-top:41px} .top-bar{display:none}}@media only screen and (max-width:979px){.row img{margin-top:0} .navbar-fixed-top{margin-bottom:0}}@media only screen and (max-width:420px){.opac-row{height:35em}}
