@font-face{font-family:"Signika";src:url('../font/Signika-Light.ttf')}h1{font-family:"Signika",Helvetica,Arial,sans-serif;font-weight:100;margin:0;text-transform:uppercase;padding:.5em 0 0 1em}
.Font-page{font-family:"Signika",Helvetica,Arial,sans-serif;padding:1em;font-size:10pt;color:#3c3c3c;line-height:1.5em}
.light-white{background:rgba(255,255,255,0.7);width:30%;height:50%;position:absolute;bottom:0;right:5%}
.btn_custom{opacity:.8;border:none;color:#fff;height:3em;width:60%;margin:.5em}
.navbar .nav li a.active{color:#bdce12}
.center{text-align:center}
.btn_custom_black{opacity:.8;border:none;color:#fff;height:3em;width:60%;margin:.5em;background:#3c3c3c}
p{font-family:"Signika",Helvetica,Arial,sans-serif;padding:1em;font-size:10pt;color:#3c3c3c;line-height:1.5em}
.navbar .nav li a:hover,.navbar .nav li a:active{color:#bdce12}
.row{position:relative}
.row img{width:100%;height:auto;margin-top:9em}
.navbar .nav li a{text-transform:uppercase}
.navbar img{marign:10px}
.top-bar{background:#bdce12;height:2px;width:84px;position:absolute;left:144px}
.opac-row{background:rgba(255,255,255,0.7);width:30%;height:50%;position:absolute;bottom:0;right:5%}
.opac-row .wrapper{text-align:center;position:relative;bottom:0}
h3{font-weight:100;font-family:"Signika",Helvetica,Arial,sans-serif;color:#284007;padding:.5em 0 0 1em}
.opac-row h3{color:#bdce12;text-align:center;font-weight:100}
.opac-row hr{width:90%;margin-left:auto;margin-right:auto}
h1.Green{font-size:24pt;color:#fff}
.Green{background:#97bb35}
h1.White{font-size:24pt;color:#97bb35}
.White{background:#fff}
h1.Black{font-size:24pt;color:#fff}
.Black{background:#3c3c3c}
.news-date{width:100%;height:2em;color:#e3efc0;padding:1em}
.list{padding:.5em 0 0 1em}
.list li{display:list-item;list-style-image:url('../img/puce.png');color:#3c3c3c;font-family:"Signika",Helvetica,Arial,sans-serif}
.license{text-align:center;color:#fff}
.license p{padding:0;color:#f4f4f4}
.footer{text-align:center}
.footer img{padding:1em}
@media only screen and (max-width:800px){h1.Green{text-align:center;padding-left:0} h1.White{text-align:center;padding-left:0} h1.Black{text-align:center;padding-left:0} h3{text-align:center;padding-left:0}}
